main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

.interval__container {
  display: flex;
  margin: 0 40px;
  align-items: center;
}

.interval-length__container {
  display: flex;
}

button {
  padding: 5px 10px;
  margin: 0 10px;
  height: 25px;
  background-color: #263646;
  border: none;
  outline: none;
  cursor: pointer;
  color: #eeeeee;
  width: 70px;
  border-radius: 3px;
}

.interval__length {
  font-size: 2rem;
  margin: 0 10px;
}

.timer__container {
  border: 2px solid #263646;
  border-radius: 20px;
  width: 250px;
  margin-top: 40px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.timer__ {
  font-size: 2rem;
}

.timer__action {
  text-align: center;
  margin-top: 10px;
}